---
import Layout from '../layouts/Layout.astro';

---

<Layout title="文研とは">
  <h1 class="text-2xl font-bold mb-4">文研とは</h1>
  <p class="mb-4">
    より豊かな文化の創造をめざして時代と向き合う、社会と向き合う...
  </p>
  <!-- 他のコンテンツ -->
</Layout>
